#Button {
    background-color: #FF6720;
    color: black;
    padding: 1px 17px 1px 16px;
    margin-left: 170%;
    margin-top: 5%;
    font-size: 16px;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: black;

    justify-content: start;
    align-items: end;
    display: flex;
    font-size: 20px;
    font-weight: 800;
    color: white;
}



#Button2 {

    background-color: #FF6720;
    color: black;
    padding: 1px 17px 1px 16px;
    margin-left: 10%;
    font-size: 16px;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: black;

    justify-content: start;
    align-items: end;
    display: flex;
    font-size: 20px;
    font-weight: 800;
    color: white;



}

#outer {
    width: 100%;
    margin-right: 10%;

}

.inner {
    display: inline-block;
    margin-left: 25%;

}
#video{

margin: auto;


}
