body {
  background-color: #ffffff;
  font-family: 'Montserrat';
  font-size: 14px;
}

header {
  background-color: #eb9b00;
}

.nav-item img {
  height: 50px;
}

#main-navbar {
  background-color: #f4af2a;
}

#logo {
  font-size: 20px;
  font-weight: 700;
}

.nav-link {
  color: rgb(23, 23, 23);
}

i {
  margin-right: 5px;
}

#menu-user {
  position: absolute;
  inset: 0px 0px auto auto;
  margin: 0px;
  transform: translate3d(0px, 34.4px, 0px);
}

#menu-dropdown i {
  font-size: 30px;
}
footer {
  color: white;
}
#botones {
  float: right;
}
#correcto {
  display: none;
}