body {
  background-color: #ffffff;
  font-family: 'Montserrat';
  font-size: 14px;
}

header {
  background-color: #FF6720;
}

.nav-item img {
  height: 50px;
}

#cuerpo .p-3 {
  height: 250px;
  margin: auto;
  justify-content: start;
  align-items: end;
  display: flex;
  font-size: 30px;
  font-weight: 800;
  color: white;
  background-color: #dcdcdc;
}

#cuerpo a {
  text-decoration: none;
}


#main-navbar {
  background-color: #ff9950;
}

#logo {
  font-size: 20px;
  font-weight: 700;
}

.nav-link {
  color: rgb(23, 23, 23);
}

i {
  margin-right: 5px;
}

#menu-user {
  position: absolute;
  inset: 0px 0px auto auto;
  margin: 0px;
  transform: translate3d(0px, 34.4px, 0px);
}

#menu-dropdown i {
  font-size: 30px;
}

#bg-inicio {
  background-image: url("../images/background/inicio.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 8px 24px 5px 24px
}

#bg-cursos {
  background-image: url("../images/background/cursos.png");
  background-position: center;
  background-repeat: no-repeat;
}

#bg-emblemas {
  background-image: url("../images/background/trofeos.png");
  background-position: center;
  background-repeat: no-repeat;
}

#bg-calificaciones {
  background-image: url("../images/background/notas.png");
  background-position: center;
  background-repeat: no-repeat;
}

#borde-texto {
  padding: 0px 15px;
  border-radius: 15px;
  background-color: #FF6720;
}

footer {
  color: white;
}

footer a {
  text-decoration: none;
}

a:hover {
  color: #c43400 !important;
}

#footer-rrss {
  font-size: 24px;
}
#title-footer{
  font-weight: bolder;
}